* {
  font-family: "Noto Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.subContainer {
  margin-left: 10%;
  transform: translateY(45vh);
  text-align: center;
}

body {
  background-color: #fefffe;
}

.banner {
  background-image: linear-gradient(rgba(0, 0, 0.5, 0.35), rgba(0, 0, 0, 0.5)),
    url(https://i.postimg.cc/tgPWjqjh/21125572-487241621640387-7562562015376023538-o-min.jpg);
}

.banner {
  background-size: cover;
  -webkit-background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.startsFoundation {
  margin: 0;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 32px;
  font-weight: bold;
}

.tagline {
  font-size: 20px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding-top: 1%;
  padding-bottom: 0.5%;
}

.donateBtnMain {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-sizing: border-box;
  color: #0f1111;
  font-size: 20px;
  cursor: pointer;
  display: inline-block;
  line-height: 40px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;
}

.donateBtnMain:hover {
  background-color: #fb8500;
  color: white;
}


.donateBtnMain:focus {
  border-color: #64ccdc;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  outline: 0;
}
