.containerMission {
  padding-top: 2vh;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.missionTitle,
.visionTitle,
.goalTitle {
  color: rgb(6, 67, 128);
  font-size: 30px;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-thickness: 0.18rem;
  padding-bottom: 1%;
  text-align: center;
}
.mis-icon {
  padding-left: 1%;
}

.vision-p,
.mission-p,
.goal-p {
  color: #cecece;
  padding-left: 10%;
  padding-right: 10%;
  color: rgb(20, 1, 82);
  font-size: 20px;
  text-align: center;
  line-height: 2;
}

.left-quote-icon {
  transform: translateX(-5vw);
  color: rgb(2, 77, 147);
}

.right-quote-icon {
  transform: translateX(25vw);
  color: rgb(2, 77, 147);
}

.row-box {
  background-color: #b3ddfc;
  border-radius: 10rem;
  padding-top: 2%;
  width: 60vw;
  height: 30vh;
}
